<footer>
  <div class="g-4">
    <div>
      <p class="logo col-header"><span>Cool</span>Projects</p>
      <p class="col-item">
        CoolProjects je website sa raznim kul i korisnim aplikacijama. Za svaku
        aplikaciju možete pronaći kod. Ako vam i dalje nije jasno kao radi
        možete kontaktirati vlasnika.
      </p>
    </div>
    <div>
      <p class="col-header">Tvoj CoolProject</p>
      <p class="col-item link">
        <a routerLink="/">Pošalji</a>
      </p>
      <p class="col-item link">
        <a routerLink="/">Github</a>
      </p>
    </div>
    <div>
      <p class="col-header">O CoolProjects</p>
      <p class="col-item link">
        <a routerLink="/">Owner</a>
      </p>
      <p class="col-item link">
        <a routerLink="/">Kontakt</a>
      </p>
    </div>
    <div></div>
  </div>
  <div class="copyright">
    <small
      >&copy; Copyright 2021. <span>Cool</span>Projects; Owner
      <a href="https://github.com/DusanDjordjic" target="blank"
        >Dušan Đorđić</a
      ></small
    >
  </div>
</footer>
