<nav>
  <ul class="link-group">
    <li class="link-group-item logo"><span>Cool</span>Projects</li>
    <li class="link-group-item">
      <a
        routerLink="home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Početna</a
      >
    </li>
    <li class="link-group-item dropdown">
      <a openDropdown dropdown="#projectDD">Projekti</a>
      <div class="dropdown-box" id="projectDD">
        <a routerLink="/">Lorem ipsum dolor sit.</a>
        <a routerLink="/">Lorem ipsum dolor sit.</a>
        <a routerLink="/">Lorem ipsum dolor sit.</a>
        <a routerLink="/">Lorem ipsum dolor sit.</a>
        <a routerLink="/">Lorem ipsum dolor sit.</a>
      </div>
    </li>
  </ul>
  <ul class="link-group">
    <li class="link-group-item icon">
      <a href="https://github.com/DusanDjordjic/cool-projects" target="blanc">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</nav>
