@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

nav {
  background-color: $color-dark;
  color: $color-text;
  padding: $padding-normal $padding-lg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .link-group {
    display: flex;
    align-items: center;
    .link-group-item {
      margin: 0 $margin-normal;
      @include firstNoMargLeft;
      @include lastNoMargRight;
      transition: all 0.3s;
      &.active {
        @include highlightText;
      }
      a {
        transition: all 0.3s;
        &:hover {
          @include highlightText;
        }
      }
    }
    .logo {
      font-size: $font-size-md;
      span {
        @include highlightText;
      }
      &:hover {
        color: $color-text;
      }
    }
    .icon {
      @include icon;
    }
    .dropdown {
      position: relative;
      cursor: pointer;
      i {
        margin-left: $margin-normal;
      }
      .dropdown-box {
        padding: $padding-lg;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        background-color: $color-dark;
        border-right: 1px solid $color-main;
        border-bottom: 1px solid $color-main;
        border-left: 1px solid $color-main;
        top: 38px;
        left: -5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        a {
          display: inline-block;
          margin-right: $margin-lg;
          margin-bottom: $margin-normal;
          white-space: nowrap;
        }
        display: none;
        &.active {
          display: grid;
        }
      }
    }
  }
}
