<div class="container">
  <div class="game center-children">
    <h1>Igra memorije</h1>

    <form [formGroup]="configForm" class="config-form">
      <div class="form-group">
        <label for="size">Velicina</label>
        <select
          class="form-control"
          id="size"
          formControlName="size"
          (change)="sizeChanged()"
          [attr.disabled]="!(gameState == 0) ? '' : null"
        >
          <option [value]="2">2x2</option>
          <option [value]="3">3x3</option>
          <option [value]="4">4x4</option>
          <option [value]="5">5x5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="level">Nivo Tezine</label>
        <select
          class="form-control"
          id="level"
          formControlName="level"
          (change)="levelChanged()"
          [attr.disabled]="!(gameState == 0) ? '' : null"
        >
          <option [value]="5000">Lak</option>
          <option [value]="3000">Normalan</option>
          <option [value]="2000">Tezak</option>
        </select>
      </div>
    </form>

    <form class="center-children">
      <div
        class="fields-wrapper"
        [ngClass]="{
          'g-2': configForm.value.size == 2,
          'g-3': configForm.value.size == 3,
          'g-4': configForm.value.size == 4,
          'g-5': configForm.value.size == 5
        }"
      >
        <div
          class="field-wrapper"
          *ngFor="let value of startGrid; let i = index"
        >
          <input
            type="text"
            [ngClass]="{
              success: validity[i] && gameState === 3,
              failure: !validity[i] && gameState === 3
            }"
            [name]="i.toString()"
            [(ngModel)]="gameForm[i]"
          />
        </div>
      </div>
    </form>

    <div class="buttons-wrapper center-children">
      <button *ngIf="gameState === 0" (click)="startGame()">Počni</button>
      <button *ngIf="gameState === 2" (click)="checkValues()">Proveri</button>
      <button *ngIf="gameState === 3" (click)="playAgain()">Igraj opet</button>
    </div>
    <div class="logs-wrapper">
      <p *ngFor="let log of logs">
        {{ log }}
      </p>
    </div>
  </div>
</div>
